# ignore python executive and temporary  files
__pycache__
*.ipynb_checkpoints
*.py[cod]
*.DS_Store

/particle_tracking/__pycache__/
/particle_tracking/*.ipynb_checkpoints
/particle_tracking/*.py[cod]
/particle_tracking/*.DS_Store
